<div class="clip">
  <ng-container *ngIf="videodisabled; else videoblock">
    <img class="clip__image" [src]="imageUrl" />
  </ng-container>
  <ng-template #videoblock>
    <iframe
      class="clip__video"
      [src]="urlSafe"
      frameborder="0"
      allow="autoplay"
      allowfullscreen
    ></iframe>
  </ng-template>
  <div class="clip__play-icon">
    <img (click)="changeImg()" [title]="play" [src]="videoIcon" alt="" />
    <h5 class="clip__title">{{ singer }}&ensp;-&ensp;{{ song }}</h5>
  </div>
</div>
