.clip {
  width: 100%;
  &__title {
    width: 150px;
  }
  &__image {
    width: 220px;
    height: 300px;
    transition: all 0.5s ease;
  }
  &__image:hover {
    transform: scale(1.08);
  }
  &__video {
    width: 220px;
    height: 300px;
  }
  &__play-icon {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
