.clip-list {
  display: flex;

  &__selected {
    color: rgb(168, 11, 11);
  }

  &__title {
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  &__tile {
    width: 30%;
    height: 430px;
    margin-left: 30px;
    overflow-y: auto;
    margin-right: 50px;
  }

  &__player {
    width: 60%;
  }

  &__img {
    height: 430px;
    margin-left: 200px;
  }
}
