<div class="form">
  <form (ngSubmit)="onSubmit()" #addForm="ngForm">
    <h2 class="form__title">Add a clip to playlist</h2>
    <div class="form__control">
      <label for="singer"> Singer</label>
      <input
        type="text"
        name="singer"
        [(ngModel)]="singer"
        id="singer"
        placeholder="Type singer name"
        #singerInput="ngModel"
        required
      />
      <p class="error" *ngIf="singerInput.invalid && singerInput.touched">
        This field is required !
      </p>
    </div>
    <div class="form__control">
      <label for="song"> Song</label>
      <input
        type="text"
        name="song"
        [(ngModel)]="song"
        id="song"
        placeholder="Type song title"
        #songInput="ngModel"
        required
      />
      <p class="error" *ngIf="songInput.invalid && songInput.touched">
        This field is required !
      </p>
    </div>
    <div class="form__control">
      <label for="video"> Video-ID</label>
      <input
        type="text"
        name="video"
        [(ngModel)]="video"
        id="video"
        placeholder="Type video-ID"
        #videoIdInput="ngModel"
        required
      />
      <p class="error" *ngIf="videoIdInput.invalid && videoIdInput.touched">
        This field is required !
      </p>
    </div>
    <div class="form__control">
      <button type="submit" class="form__btn" [disabled]="addForm.invalid">
        Add
      </button>
    </div>
  </form>
</div>
