<div class="about">
  <h1 class="about__title">Clip.az</h1>
  <p class="about__text">
    The new Clip.az website has the latest video clips, but that doesn't mean
    you can't add your favorite clips too.
  </p>
  <h2>How to create a playlist for your favorite clips?</h2>
  <p class="about__text">
    Clip.az has made it easy to add your favorite clip to your playlist. It's
    just not entirely intuitive. The trick is this: you need to create a new
    account. Ready to add a new clip, you can simply fill out the add form,
    which you can find in your personal account.
  </p>
  <p class="about__text">I wish you a pleasant viewing !</p>
</div>
