<div class="form">
  <form (ngSubmit)="submitForm()" #contactForm="ngForm">
    <h2 class="form__title">Contact Us!</h2>
    <div class="form__control">
      <label for="name"> Name</label>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Type your name"
        [(ngModel)]="name"
        #nameInput="ngModel"
        required
      />
      <p class="error" *ngIf="nameInput.invalid && nameInput.touched">
        Your name is required
      </p>
    </div>
    <div class="form__control">
      <label for="email">Email</label>
      <input
        type="text"
        name="email"
        id="email"
        placeholder="Type your email"
        [(ngModel)]="email"
        #emailInput="ngModel"
        pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
        required
      />
      <p class="error" *ngIf="emailInput.invalid && emailInput.touched">
        Your name is required and needs to be a valid email.
      </p>
    </div>

    <div class="form__control">
      <label for="">Your message</label>
      <textarea
        name="message"
        id=""
        cols="30"
        rows="10"
        [(ngModel)]="message"
      ></textarea>
    </div>
    <div class="form__control">
      <button [disabled]="contactForm.invalid" type="submit" class="form__btn">
        Send
      </button>
    </div>
  </form>
</div>
