<div class="tool-bar">
  <a
    class="btn"
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >home
  </a>
  <a class="btn" routerLink="/about" routerLinkActive="active">about</a>
  <a class="btn" routerLink="/hits2022" routerLinkActive="active">hits 2022</a>
  <a class="btn" routerLink="/personalcabinet" routerLinkActive="active"
    >cabinet</a
  >
  <a class="btn" routerLink="/contact" routerLinkActive="active">contact</a>
  <img class="tool-bar__logo" src="assets/img/logo.png" alt="clip.az" />
</div>
