/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: black;
}

.btn {
  display: inline-block;
  background: rgb(78, 14, 78);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  min-width: 120px;
  height: 40px;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  font-weight: bold;

  &.active {
    background-color: rgb(161, 15, 161);
  }

  &:hover {
    background-color: rgb(161, 15, 161);
  }
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    text-align: center;
  }
  &__btn {
    display: inline-block;
    background: rgb(78, 14, 78);
    padding: 10px 20px;
    margin-top: 10px;
    min-width: 100px;

    border: none;
    border-radius: 5px;
    cursor: pointer;

    font-size: 15px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;

    &:disabled {
      background-color: rgb(150, 97, 150);
    }
  }

  &__control {
    margin: 20px 0;
    label {
      display: block;
    }
    input,
    textarea {
      width: 500px;
      min-height: 40px;
      margin: 5px;
      padding: 3px 7px;
      font-size: 17px;
    }
    button {
      width: 502px;
    }
  }
}

.error {
  font-size: 12px;
  color: red;
}
